html {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  line-height: 30px;
  width: 100%;
}
h1 {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  font-size: 56px;
  font-weight: 400;
}
h1 a:link, h1 a:visited {
    color: black;
    font-size:56px;
    font-weight:400;
    line-height:64px;
}
header p {
  font-size:26px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}
article, section {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}
aside {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  margin-top: 75px;
}
article h1 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 0;
}
article p, section p {
  text-align: justify;
  text-indent: 32px;
  font-size: 18px;
}
section h1 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 0;
  color: black;
}
nav {
  background: #673AB7;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #673AB7;
  display: block;
  font-size: 18px;
  word-spacing: 40px;
  line-height: 40px;
  margin-right: auto;
  margin-left: auto;
  color: azure;
  width: 50%;
}
li {
  float: left;
}
li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  transition: .3s;
}
li a:hover {
  background-color: #5E35B1;
  transition: .3s;
}
figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}
footer {
  overflow: hidden;
  //background-color: #673AB7;
  background-color: #512DA8;
  font-size: 14px;
  font-weight: lighter;
  line-height: 50px;
  color: lavender;
  text-align: center;
}
blockquote {
  color: lavender;
  background-color: #673AB7;
  padding: 8px 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
}
.icon {
  margin-bottom: 5px;
  margin-left: 7px;
  margin-right: 7px;
}
.archive {
  text-indent: 36px;
  text-align: initial;
}
.archive-date {
  text-indent: 18px;
  text-align: initial;
}
a.nav:link {
  color: ghostwhite;
  text-decoration: none;
}
a.nav:visited {
  color: ghostwhite;
  text-decoration: none;
}
a.nav:hover {
  color: ghostwhite;
  text-decoration: none;
}
a:link {
  color: #1B5E20;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #1B5E20;
  text-decoration: none;
  font-weight: bold;
}
.fab-container {
  margin: 16px;
  position: fixed;
  bottom: -72px;
  right: 0;
}
.fab-container a:active {
    outline: none;
}
.fab-container a:focus {
    outline: none;
}
.fab {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  cursor: pointer;
  transition: .3s;
}
.top {
  background: #1B5E20 url("../img/arrow-up.png") center no-repeat;
}
.top:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
::selection {
  background: #673AB7;
}
@media (min-width: 701px)
  and (max-width: 1000px) {
    h1 { width: 75%; }
    h2 { width: 75%; }
    article { width: 75%; }
    section { width: 75%; }
    ul { width: 75%; }
}
@media (min-width: 1px)
  and (max-width: 700px) {
    h1 { width: 85%; line-height: 50px; }
    h2 { width: 85%; }
    article { width: 85%; }
    section { width: 85%; }
    ul { width: 85%; }
    li { float: initial; }
    li a { text-align: center; }
    section p { text-indent: 0px; }
    article p { text-indent: 0px; }
    blockquote { text-indent: 0px; }
    blockquote p { text-align: left; }
}
