html {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px;
  line-height: 30px;
  width: 100%;
}
header {
   width: 60%;
   margin-right: auto;
   margin-left: auto;
}
h1 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 600;
}
h1 a:link, h1 a:visited {
    color: black;
    font-size: 42px;
    font-weight: 600;
    line-height: 64px;
}
header p {
  font-size:26px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
header aside {
  float: right;
  text-align: right;
  margin: 0 0 0 0;
}
article {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}
section {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
aside {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  margin-top: 75px;
  font-size: 18px;
}
article h1 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 0;
}
article p, section p {
  text-align: justify;
  text-indent: 0px;
  font-size: 18px;
  font-weight: 300;
}
section h1 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 0;
  color: black;
  font-weight: bold;
}
nav {
  background: #474A99;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #474A99;
  display: block;
  font-size: 18px;
  word-spacing: 40px;
  line-height: 20px;
  margin-right: 0;
  margin-left: auto;
  color: azure;
  width: 51%;
}
nav li {
  float: left;
}
nav li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  transition: .3s;
}
.current {
  background-color: #343675;
}
nav li a:hover {
  background-color: #343675;
  transition: .3s;
}
figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}
footer {
  overflow: hidden;
  background-color: #474A99;
  font-size: 16px;
  font-weight: lighter;
  line-height: 45px;
  color: white;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 45px;
}
blockquote {
  color: white;
  background-color: #474A99;
  padding: 8px 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.resume {
  max-width: 100%;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.displayed-noshadow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
  border-radius: 2px;
}
.displayed-smaller {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 80%;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.displayed-smallest {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 60%;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.shadow-single {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  transition: box-shadow .25s;
  height: 100px;
  width: 120px;
  margin: 20px;
  padding-top: 30px;
  background-color: #1B5E20;
}
a.shadow-single:link {
  color: white;
  text-decoration: none;
}

a.shadow-single:visited {
  color: white;
  text-decoration: none;
}
.social {
  margin: 0 5px 0 5px;
}
.icon {
  margin: 0 10px 0 0;
}
.profile {
  float: left;
  padding: 10px 30px 10px 0;
  width: 25%;
}
a.nav:link {
  color: white;
  text-decoration: none;
}
a.nav:visited {
  color: white;
  text-decoration: none;
}
a.nav:hover {
  color: white;
  text-decoration: none;
}
a:link {
  color: #1B5E20;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #1B5E20;
  text-decoration: none;
  font-weight: bold;
}
.card {
  position: relative;
  margin: 35px 10px 15px 10px;
  background-color: #fff;
  font-size: 14px;
  transition: box-shadow .25s;
  border-radius: 2px;
  width: 300px;
  height: 300px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
figcaption {
  font-size: 18px;
  color: black;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0px;
  font-weight: 400;
}
.card:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.shadow-single:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.card-image {
  display: block;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid LightGrey;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
::selection {
  background: #1B5E20;
  color: white;
}
@media (min-width: 701px)
  and (max-width: 1000px) {
    header { width: 80%; }
    article { width: 80%; }
    section { width: 80%; }
    .card {  margin: 10px 10px 15px 10px; }
}
@media (min-width: 1px)
  and (max-width: 700px) {
    h1 { line-height: 50px; }
    header h1 { text-align: center; }
    header { width: 85%; }
    header aside { text-align: center; float: none; margin-left: auto; margin-right: auto; }
    header p { text-align: center; margin-top: 10px; }
    article { width: 85%; }
    article h1 { text-align: center; }
    section h1 { text-align: center; }
    section { width: 85%; }
    nav ul { width: 100%; }
    nav li { float: initial; }
    nav li a { text-align: center; }
    section p { text-indent: 0px; }
    article p { text-indent: 0px; }
    blockquote { text-indent: 0px; width: 80%; margin-left: auto; margin-right: auto; }
    blockquote p { text-align: left; }
    .card {  margin: 0px 10px 30px 10px; }

}
