html {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px;
  line-height: 30px;
  width: 100%;
  background-color: #ebf0f5;
  color: #393e43;
  font-size: 18px;
}
header {
   margin-right: auto;
   margin-left: auto;
}
h1 {
  margin: 100px auto 0px auto;
  font-size: 64px;
  font-weight: 600;
  font-family: 'Catamaran', 'Roboto', sans-serif;
  color: black;
  text-align: center;
}
header p {
  font-size: 24px;
  font-family: 'Catamaran', 'Robot', sans-serif;
  text-align: center;
}
article {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 1000px;
}
.flex-100 {
  width: 100%;
  margin: auto auto 50px auto;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.flex-65 {
  width: 65%;
  margin: auto auto 50px auto;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
aside {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  margin-top: 75px;
  font-size: 18px;
  clear: both;
  color: white;
}
aside a {
  background-color: #393e43;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 16px;
  transition: .3s;
}
aside a:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
figure.brand {
  margin-bottom: 0px;
}
figure.brand a {
  background-color: #393e43;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 16px;
  transition: .3s;
}
figure.brand a:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
a.aside:visited {
    color: white;
    text-decoration: none;
}
a.aside:link {
    color: white;
    text-decoration: none;
    font-weight: 300;
}
article h1 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 0;
}
nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  word-spacing: 40px;
  line-height: 20px;
  color: white;
  font-weight: 300;
  height: 120px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav li a {
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  transition: .3s;
  font-weight: 300;
  background-color: #393e43;
  border-radius: 4px;
  margin: 20px 30px 0px 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
nav li a:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
nav li a.current {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: .3s;
}
figure {
  display: block;
  margin: 30px auto 30px auto;
  width: 100%;
  text-align: center;
}
footer {
  overflow: hidden;
  background-color: #393e43;
  font-size: 16px;
  font-weight: lighter;
  line-height: 45px;
  color: white;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 45px;
}
blockquote {
  color: #ebf0f5;
  background-color: #393e43;
  padding: 8px 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
blockquote h1 {
  color: #ebf0f5;
  margin: 20px;
}
.resume {
  max-width: 100%;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.displayed {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.noshadow {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  border-radius: 2px;
}
.small {
  display: block;
  margin: 30px auto;
  max-width: 40%;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.medium {
  display: block;
  margin: 30px auto;
  max-width: 60%;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.shadow-single {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  transition: box-shadow .25s;
  height: 100px;
  width: 120px;
  margin: 20px;
  padding-top: 30px;
  background-color: #393e43;
  text-align: center;
}
a.shadow-single:link {
  color: white;
  text-decoration: none;
}

a.shadow-single:visited {
  color: white;
  text-decoration: none;
}
.social {
  margin: 0 5px 0 5px;
}
.icon {
  margin: 0 10px 0 0;
}
.profile {
  float: left;
  padding: 10px 30px 10px 0;
  width: 25%;
  margin-bottom: 30px;
}
a.nav:link {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
a.nav:visited {
  color: white;
  text-decoration: none;
}
a:link {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
a:visited {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.card {
  position: relative;
  margin: 35px 10px 15px 10px;
  background-color: #393e43;
  font-size: 14px;
  transition: box-shadow .25s;
  border-radius: 2px;
  width: 300px;
  height: 300px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 300;
}
.flexed {
  position: relative;
  margin: 5px;
}
figcaption {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0px;
  font-weight: 400;
}
.card:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.shadow-single:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.card-image {
  display: block;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid LightGrey;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
::selection {
  background: #393e43;
  color: white;
}
@media (min-width: 701px)
  and (max-width: 1000px) {
    header { width: 80%; }
    nav ul { width: 100%; }
    article { width: 80%; }
    section { width: 80%; }
    .card {  margin: 10px 10px 15px 10px; }
    .small { max-width: 80%; }
    .medium { max-width: 80%; }
}
@media (min-width: 1px)
  and (max-width: 700px) {
    h1 { line-height: 75px; margin: 40px auto 0px auto; }
    header h1 { text-align: center; }
    header { width: 85%; }
    header aside { text-align: center; float: none; margin-left: auto; margin-right: auto; }
    header p { text-align: center; line-height: 40px; margin: 30px auto; }
    nav ul { width: 100%; }
    nav li a { margin: 20px 1px 0px 1px; }
    article { width: 85%; }
    article h1 { text-align: center; }
    section h1 { text-align: center; }
    section { width: 85%; }
    section p { text-indent: 0px; }
    article p { text-indent: 0px; }
    blockquote { text-indent: 0px; width: 80%; margin-left: auto; margin-right: auto; }
    blockquote p { text-align: left; }
    .card {  margin: 0px 10px 30px 10px; }
    .small { max-width: 85%; }
    .medium { max-width: 85%; }
    .flex-65 { width: 85%; }
}
